
<ion-view view-title="My Profile">
  <ion-content style="margin-top: -40px; background-color:#f8f8f6;">

   <div class="padding card">
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. In odit, repellendus, dolore quod eum fugiat unde debitis dolorem incidunt inventore fugit vitae, nesciunt, asperiores. Eos minima veritatis suscipit, quam eveniet.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quo, ullam consequuntur soluta fugiat, molestias quod corporis aliquam. Molestias, in, quidem. Necessitatibus, reprehenderit porro, iusto expedita libero impedit. Ea, quasi!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque similique neque unde! Nisi velit, excepturi eius officiis eaque dolores quasi recusandae, quidem optio magnam ipsa sint pariatur aperiam nobis sed.
   </div>
  <div class="padding card">
    Skills:
    <b>English</b>
    <b>Urdu</b>
    <b>Physics</b>
  </div>

  </ion-content>
</ion-view>
