

<ion-view>
  <ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
  <div class="bar bar-header background-color">
    <h1 class="title loginHeader">Country</h1>
  </div>
  <ion-content style="background-color:#f8f8f6;">
    <div class="padding" style="text-align:center;margin-top: 86px;">
    <h4 style="font-weight: bold;">Please Select Your Country and City</h4>
    <p style="font-size: smaller;">By selecting your Country and City makes you and your Client experince best</p>
    </div>
    <!--<form name="countryForm">-->
    <div class="list">

  <label class="item item-input item-select item-remove">
    <div class="input-label">
      Country
    </div>
        <select ng-model="country.slectedCountry" ng-change="country.setCity()" required style="background: inherit;">
          <option ng-repeat="(key,value) in country.countries" value="{{key}}">{{key}}</option>
        </select>
  </label>
  <label class="item item-input item-select item-remove">
  <div class="input-label">
      City
    </div>
        <select ng-model="country.selectedCity" required style="background: inherit;">
          <option ng-repeat="cities in country.countries[country.slectedCountry].cities">{{cities}}</option>
        </select>
  </label>

</div>
    <!--</form>-->
    <!--<form name="countryForm">
      <label class="item item-input item-select">
        <div class="input-label">
          Country
        </div>
        <select ng-model="country.slectedCountry" ng-change="country.setCity()" required>
          <option ng-repeat="(key,value) in country.countries" value="{{key}}">{{key}}</option>
        </select>
      </label>



      <label class="item item-input item-select">
        <div class="input-label">
          City
        </div>
        <select ng-model="country.selectedCity" required>
          <option ng-repeat="cities in country.countries[country.slectedCountry].cities">{{cities}}</option>
        </select>
      </label>

      <br>

      <button ng-disabled="countryForm.$invalid" ng-click="country.next(country.countries[country.slectedCountry].countryCode)">Next</button>
    </form>-->

  </ion-content>
  
  <div class="bar bar-footer registerFotterBar">
  <div style="width:100%; text-align:center;">
   <button class="button button-balanced" style="width:100%; font-size: 23px;" ng-disabled="!country.slectedCountry || !country.selectedCity" ng-click="country.next(country.countries[country.slectedCountry].countryCode)">
           Next
       </button>
 </div>
 </div>
</ion-view>
