<ion-view class="background-color" view-title="Message">
  <ion-content>


    <!--<div>
      <div id="sideList" style="background-color: pink; width: 20%;float:left">
        <div>
          <div class="image-round marginAuto">
            <img src="../../img/imran.jpg" class="image-round" alt="">

          </div>
          <br />
          <div class="image-round marginAuto">
            <img src="../../img/imran.jpg" class="image-round" alt="">

          </div>
          <br />
          <div class="image-round marginAuto">
            <img src="../../img/imran.jpg" class="image-round" alt="">

          </div>
          <br />


          <div style="position: absolute;bottom: 0">
            >
          </div>
          <!--<div style="position: absolute;bottom: 0">
            <
          </div>
        </div>

      </div>
      <div id="mainList" style="background-color: yellow;width:80%;float:right">
        <div class="bar">
          <h1 class="title">Atta Ullah</h1>
        </div>
      </div>
    </div>-->


    <div class="list">

      <!--<a ng-repeat="item in message.msgArray" class="item item-avatar" ui-sref="menu.messageDetail({uid:item.uid})">
        <img src="img/mani.jpg"/>
        <b><h2>Mani</h2></b>
        <p><b>Me: </b> I'm working on upwork.</p>
      </a>-->
    </div>

    <br>
  </ion-content>
  <div class="fixed-outside">
    <div class="row">
      <div class="col">
        <button class="button button-circle button-balanced icon ion-plus"></button>
      </div>
    </div>
  </div>
</ion-view>
