<!DOCTYPE html>
<html ng-app="demoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Demo App</title>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width-device-width, initial-scale=1"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./node_modules/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <link rel="stylesheet" href="css/style.css">


    <!--scripts-->



</head>
<body ng-controller="mainController as app">

<!-- Uses a header that contracts as the page scrolls down. -->

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Company Name</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right">
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" id="allproduct" href="">All Products</a>
                    <a class="mdl-navigation__link" id="semi" href="">Semi conductors</a>
                    <a class="mdl-navigation__link" id="diodes" href="">Diodes</a>
                    <a class="mdl-navigation__link" id="connectors" href="">Connectors</a>
                </nav>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="allproduct">
                    <li class="mdl-menu__item" ui-sref="semi">Semi conductors</li>
                    <li class="mdl-menu__item" ui-sref="diodes">Diodes</li>
                    <li class="mdl-menu__item" ui-sref="connectors">Connectors</li>
                </ul>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="semi">
                    <li class="mdl-menu__item" ui-sref="viewsemi({index:$index})" ng-repeat="item in app.arr1">
                        {{item.name}}
                    </li>
                </ul>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="diodes">
                    <li class="mdl-menu__item" ui-sref="viewdiode({index:$index})" ng-repeat="item in app.arr2">
                        {{item.name}}
                    </li>
                </ul>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="connectors">
                    <li class="mdl-menu__item" ui-sref="viewconnector({index:$index})" ng-repeat="item in app.arr3">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
        <!-- Bottom row, not visible on scroll -->
    </header>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Company Name</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" ui-sref="home"><i class="material-icons">home</i> &nbsp;&nbsp;&nbsp;Home</a>
            <a class="mdl-navigation__link" ui-sref="allList"><i
                    class="material-icons">shopping_cart</i>&nbsp;&nbsp;&nbsp;All products</a>
            <a class="mdl-navigation__link" ui-sref="semi"><i class="material-icons">book</i>&nbsp;&nbsp;&nbsp;Semi
                conductors</a>
            <a class="mdl-navigation__link" ui-sref="diodes"><i class="material-icons">style</i>&nbsp;&nbsp;&nbsp;Diodes</a>
            <a class="mdl-navigation__link" ui-sref="connectors"><i class="material-icons">style</i>&nbsp;&nbsp;&nbsp;Connectors</a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        <ui-view></ui-view>
        <footer class="mdl-mega-footer oxy-color-primary">
            <div class="mdl-mega-footer--middle-section">
                <div class="mdl-mega-footer--drop-down-section">
                    <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
                    <h1 class="mdl-mega-footer--heading">About Company Name</h1>
                    <div class="mdl-mega-footer__widget">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, aliquid incidunt
                            accusantium vitae ipsa at! Maiores cum aperiam nihil accusamus inventore maxime perferendis
                            porro consequuntur assumenda ut! Laboriosam beatae, praesentium.</p>
                        <p>An emphasis on user actions makes core functionality immediately apparent and provides
                            waypoints for the user.</p>
                    </div>
                    <div class="mdl-mega-footer__widget"><i class="fa fa-cc-mastercard"></i> &nbsp; <i
                            class="fa fa-cc-visa"></i> &nbsp; <i class="fa fa-cc-amex"></i> &nbsp; <i
                            class="fa fa-cc-diners-club"></i> &nbsp; <i class="fa fa-cc-paypal"></i> &nbsp; <i
                            class="fa fa-cc-jcb"></i></div>
                </div>

                <div class="mdl-mega-footer--drop-down-section">
                    <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
                    <h1 class="mdl-mega-footer--heading">Latest Products</h1>
                    <div class="mdl-mega-footer__widget"><a href="">
                        <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                             alt="product thumbnail"></a> <a href="">
                        <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                             alt="product thumbnail"></a> <a href="">
                        <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                             alt="product thumbnail"></a> <a href="">
                        <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                             alt="product thumbnail"></a> <a href="">
                        <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                             alt="product thumbnail"></a> <a href="">
                        <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                             alt="product thumbnail"></a> <a href="">
                        <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                             alt="product thumbnail"></a> <a href="">
                        <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                             alt="product thumbnail"></a> <a href="">
                        <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                             alt="product thumbnail"></a> <a href="">
                        <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                             alt="product thumbnail"></a> <a href="">
                        <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                             alt="product thumbnail"></a> <a href="">
                        <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                             alt="product thumbnail"></a></div>
                </div>
                <div class="mdl-mega-footer--drop-down-section">
                    <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
                    <h1 class="mdl-mega-footer--heading">Our Store</h1>
                    <div class="mdl-mega-footer__widget">
                        <p>Contact us any time, we would love to hear from you.</p>
                        <p>Birmingham Bulring<br>MSU 8-9, Levels 7&amp;9<br>Birmingham B5 4BG<br>(44) 121 616 2169<br>
                        </p>
                        <p><a href="#">company.com</a><br>info@company.com</p>
                        <p><a href="#" class="mdl-button mdl-js-button mdl-button--icon"
                              data-upgraded=",MaterialButton"><i class="fa fa-facebook"></i></a> <a href="#"
                                                                                                    class="mdl-button mdl-js-button mdl-button--icon"
                                                                                                    data-upgraded=",MaterialButton"><i
                                class="fa fa-twitter"></i></a> <a href="#"
                                                                  class="mdl-button mdl-js-button mdl-button--icon"
                                                                  data-upgraded=",MaterialButton"><i
                                class="fa fa-flickr"></i></a> <a href="#"
                                                                 class="mdl-button mdl-js-button mdl-button--icon"
                                                                 data-upgraded=",MaterialButton"><i
                                class="fa fa-linkedin"></i></a></p>
                    </div>
                </div>
            </div>
        </footer>
    </main>
</div>

<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--colored oxy-button-fab oxy-js-button-shopping-cart mdl-badge oxy-button-fab__badge"
        data-badge="0" data-upgraded=",MaterialButton,MaterialRipple">
    <i class="material-icons">shopping_cart</i>
        <span class="mdl-button__ripple-container">
            <span class="mdl-ripple is-animating"
                  style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(37px, 29px);">
                </span>
                </span>
</button>

<script src="node_modules/angular/angular.js"></script>
<!--<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>-->
<script src="./node_modules/material-design-lite/material.min.js"></script>
<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
<script src="./js/app.js"></script>
<script src="./js/config.js"></script>
<script src="./components/home/home.js"></script>
<script src="./components/all/all.js"></script>
<script src="./components/semi/semi.js"></script>
<script src="./components/diodes/diodes.js"></script>
<script src="./components/connectors/connectors.js"></script>
<script src="./components/viewsemi/viewsemi.js"></script>
<script src="./components/viewdiode/viewdiode.js"></script>
<script src="./components/viewconnector/viewconnector.js"></script>

<!--services-->
<script src="./services/listService.js"></script>


</body>
</html>
