
<form>
    <div style="width: 80%; margin-left:100px;margin-right: 100px" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label align-center">
        <input class="mdl-textfield__input" placeholder="Search here.." ng-model="allProduct.search" style="width:100%;outline: none" type="text" id="sample3">
    </div>
</form>

<div class="align-center">
    <h4>Semi Conductors</h4>
    <hr style="width: 43%"/>
</div>
<ul class="demo-list-icon mdl-list">
    <li class="mdl-list__item" ng-repeat="item in allProduct.arr1 | filter : allProduct.search track by $index">

    <span class="mdl-list__item-primary-content" style="padding-left: 50px">
        <!--<i class="material-icons mdl-list__item-icon">person</i>-->
        <img style="width:60px;height:60px" src="./images/repeat/{{item.img}}.jpg" alt="">
              <a ui-sref="viewsemi({index:$index})" style="padding-left: 50px;padding-top: 15px">
        {{item.name}}
                      </a>
    </span>

    </li>
</ul>

<div class="align-center">
    <h4>Diodes</h4>
    <hr style="width: 43%"/>
</div>
<ul class="demo-list-icon mdl-list">
    <li class="mdl-list__item" ng-repeat="item in allProduct.arr2 | filter : allProduct.search track by $index">

    <span class="mdl-list__item-primary-content" style="padding-left: 50px">
        <!--<i class="material-icons mdl-list__item-icon">person</i>-->
        <img style="width:60px;height:60px" src="./images/repeat/{{item.img}}.jpg" alt="">
                <a ui-sref="viewdiode({index:$index})" style="padding-left: 50px;padding-top: 15px">
        {{item.name}}
                            </a>
    </span>

    </li>
</ul>

<div class="align-center">
    <h4>Connectors</h4>
    <hr style="width: 43%"/>
</div>
<ul class="demo-list-icon mdl-list">
    <li class="mdl-list__item" ng-repeat="item in allProduct.arr3 | filter : allProduct.search track by $index">

    <span class="mdl-list__item-primary-content" style="padding-left: 50px">
        <!--<i class="material-icons mdl-list__item-icon">person</i>-->
        <img style="width:60px;height:60px" src="./images/repeat/{{item.img}}.jpg" alt="">
                <a ui-sref="viewconnector({index:$index})" style="padding-left: 50px;padding-top: 15px">
        {{item.name}}
                            </a>
    </span>

    </li>
</ul>
