<form>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
            <i id="sample-expandable" class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder"  style="width:500px !important;">
            <input class="mdl-textfield__input" type="text" id="sample6">
            <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
        </div>
    </div>
</form>