
<ion-view>
  <ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
  <div class="bar bar-header background-color">
    <h1 class="title loginHeader">Picture</h1>
  </div>
  <ion-content style="background:#f8f8f6">

    <!--<p>Picture route</p>-->

    <!--<div class="card">-->
      <div style="position: relative;
    left: 21px;
    top: 32px;
    text-align: center;">

      <img class="upload-picture padding" ng-src="{{picture.selectedImg || picture.defaultPicPath}}" alt="Profile Pic" style="border-radius: 164px;">
    <!--</div>-->
            <i class="ion-android-add-circle add-btn" ng-click="picture.add()"></i>

</div>
<br>
<div class="padding" style="position: relative;text-align: center;top: 43px;">
  <h3>Upload your Picture</h3>
  <p>Click the Right Add button and upload your Photo.</p>
</div>
    <!--<i class="ion-android-add-circle"></i>-->
    <!--<button ng-click="picture.capture()">Capture</button>
    <br>
    <button ng-click="picture.uplaodToDrive()">Go To Drive</button>
    <br>

    <button class="button button-full button-positive" ng-click="picture.saveDetails()">Let's Started</button>-->

  </ion-content>
      <div class="bar bar-footer registerFotterBar">
  <div style="width:100%; text-align:center;">
   <button class="button button-balanced" style="width:100%; font-size: 23px;" ng-click="picture.saveDetails()">
           Let's Started
       </button>
 </div>
 </div>
</ion-view>
