

<!--Old Code Here-->
<!--<ion-view>
  <div class="bar bar-header bar-balanced">
    <h1 class="title">Please otherProfile...</h1>
  </div>
  <ion-content class="has-header">


    <div class="list card">

      <div class="item item-avatar">
        <img src="http://icons.iconseeker.com/png/fullsize/nike--apple/nike--apple.png">
        <h2> {{otherPro.data.name}}</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://wallpapered.wallpapered.netdna-cdn.com/media/catalog/product/cache/1/thumbnail/600x422/1d6e939439a2fb71d9ef089615f27061/b/l/blackboard-web.jpg">
        <p>
          {{otherPro.data.overview}}
        </p>


        <a href="#" class="item item-icon-left">
          <i class="icon ion-earth"></i> {{otherPro.data.country}}
        </a>

        <a class="item item-icon-left">
          <i class="icon ion-ios-home"></i> {{otherPro.data.city}}
        </a>
        <a class="item item-icon-left">
          <i class="icon ion-man"></i> {{otherPro.data.gender}}
        </a>
        <a href="#" class="item item-icon-left">
          <i class="icon ion-briefcase"></i> {{otherPro.data.degree}}
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-person"></i> {{otherPro.data.userType}}
        </a>

      </div>

    </div>


  </ion-content>

</ion-view>-->


<!--New Code-->
<ion-view>
  <ion-content>
    <img ng-src="{{otherProfile.profile.pic}}">
    Name : {{otherProfile.profile.name}} <br>
    User Type : {{otherProfile.profile.userType}} <br>
    Location : {{otherProfile.profile.city}} , {{otherProfile.profile.country}}<br>
    Gender : {{otherProfile.profile.gender}}


    <button ng-click="otherProfile.sendMessage(otherProfile.profile.Uid)">Send Message</button>
    <button ng-click="otherProfile.fetchMessangerList()">Fetch List</button>

    

  </ion-content>
</ion-view>
