
<div class="container">

    <div class="align-center">
        <h5>We have Awesome Products You can search and Buy our Products</h5>
        <hr style="width: 43%" />
    </div>


    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="demo-card-image same mdl-card mdl-shadow&#45;&#45;2dp mdl-cell mdl-cell&#45;&#45;7-col">
            <div class="mdl-card__title mdl-card&#45;&#45;expand mdl-cell mdl-cell&#45;&#45;7-col"></div>
            <div class="mdl-card__actions">
                <span class="demo-card-image__filename">200$ only</span>
            </div>
        </div>

        <div class="demo-card-image1 same mdl-card mdl-shadow&#45;&#45;2dp mdl-cell mdl-cell&#45;&#45;7-col">
            <div class="mdl-card__title mdl-card&#45;&#45;expand mdl-cell"></div>
            <div class="mdl-card__actions">
                <span class="demo-card-image1__filename">200$ only</span>
            </div>
        </div>
        <div class="demo-card-image2 same mdl-card mdl-shadow&#45;&#45;2dp mdl-cell mdl-cell&#45;&#45;7-col">
            <div class="mdl-card__title mdl-card&#45;&#45;expand mdl-cell"></div>
            <div class="mdl-card__actions">
                <span class="demo-card-image2__filename">200$ only</span>
            </div>
        </div>
        <div class="demo-card-image3 same mdl-card mdl-shadow&#45;&#45;2dp mdl-cell mdl-cell&#45;&#45;7-col">
            <div class="mdl-card__title mdl-card&#45;&#45;expand mdl-cell"></div>
            <div class="mdl-card__actions">
                <span class="demo-card-image3__filename">200$ only</span>
            </div>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>

    <div class="align-center">
        <h4>Latest Products</h4>
        <hr class="latest-product"/>
    </div>


    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="demo-card-image4 same mdl-card mdl-shadow&#45;&#45;2dp mdl-cell mdl-cell&#45;&#45;7-col">
            <div class="mdl-card__title mdl-card&#45;&#45;expand mdl-cell mdl-cell&#45;&#45;7-col"></div>
            <div class="mdl-card__actions">
                <span class="demo-card-image__filename">200$ only</span>
            </div>
        </div>

        <div class="demo-card-image5 same mdl-card mdl-shadow&#45;&#45;2dp mdl-cell mdl-cell&#45;&#45;7-col">
            <div class="mdl-card__title mdl-card&#45;&#45;expand mdl-cell"></div>
            <div class="mdl-card__actions">
                <span class="demo-card-image1__filename">200$ only</span>
            </div>
        </div>
        <div class="demo-card-image6 same mdl-card mdl-shadow&#45;&#45;2dp mdl-cell mdl-cell&#45;&#45;7-col">
            <div class="mdl-card__title mdl-card&#45;&#45;expand mdl-cell"></div>
            <div class="mdl-card__actions">
                <span class="demo-card-image2__filename">200$ only</span>
            </div>
        </div>
        <div class="demo-card-image7 same mdl-card mdl-shadow&#45;&#45;2dp mdl-cell mdl-cell&#45;&#45;7-col">
            <div class="mdl-card__title mdl-card&#45;&#45;expand mdl-cell"></div>
            <div class="mdl-card__actions">
                <span class="demo-card-image3__filename">200$ only</span>
            </div>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>

<!--    <button
            class="mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-js-ripple-effect mdl-button&#45;&#45;colored">
        <i class="material-icons">add</i>
    </button>-->

</div>

<footer class="mdl-mega-footer oxy-color-primary">
    <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
            <h1 class="mdl-mega-footer--heading">About Company Name</h1>
            <div class="mdl-mega-footer__widget">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, aliquid incidunt
                    accusantium vitae ipsa at! Maiores cum aperiam nihil accusamus inventore maxime perferendis
                    porro consequuntur assumenda ut! Laboriosam beatae, praesentium.</p>
                <p>An emphasis on user actions makes core functionality immediately apparent and provides
                    waypoints for the user.</p>
            </div>
            <div class="mdl-mega-footer__widget"><i class="fa fa-cc-mastercard"></i> &nbsp; <i
                    class="fa fa-cc-visa"></i> &nbsp; <i class="fa fa-cc-amex"></i> &nbsp; <i
                    class="fa fa-cc-diners-club"></i> &nbsp; <i class="fa fa-cc-paypal"></i> &nbsp; <i
                    class="fa fa-cc-jcb"></i></div>
        </div>
<!--        <div class="mdl-mega-footer&#45;&#45;drop-down-section">
            <input class="mdl-mega-footer&#45;&#45;heading-checkbox" type="checkbox" checked="">
            <h1 class="mdl-mega-footer&#45;&#45;heading">Open Hours</h1>
            <ul class="mdl-mega-footer&#45;&#45;link-list mdl-mega-footer&#45;&#45;link-list&#45;&#45;bordered">
                <li>Monday <span
                        class="oxy-inline-block oxy-float-right oxy-margin-right-40">10:00 - 20:00</span></li>
                <li>Tuesday <span
                        class="oxy-inline-block oxy-float-right oxy-margin-right-40">12:00 - 21:00</span></li>
                <li>Wednesday <span
                        class="oxy-inline-block oxy-float-right oxy-margin-right-40">10:00 - 20:00</span></li>
                <li>Thursday <span
                        class="oxy-inline-block oxy-float-right oxy-margin-right-40">09:00 - 20:00</span></li>
                <li>Friday <span
                        class="oxy-inline-block oxy-float-right oxy-margin-right-40">08:00 - 18:00</span></li>
                <li>Saturday <span
                        class="oxy-inline-block oxy-float-right oxy-margin-right-40">12:00 - 20:00</span></li>
            </ul>
        </div>-->
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
            <h1 class="mdl-mega-footer--heading">Latest Products</h1>
            <div class="mdl-mega-footer__widget"><a href="">
                <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                     alt="product thumbnail"></a> <a href="">
                <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                     alt="product thumbnail"></a> <a href="">
                <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                     alt="product thumbnail"></a> <a href="">
                <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                     alt="product thumbnail"></a> <a href="">
                <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                     alt="product thumbnail"></a> <a href="">
                <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                     alt="product thumbnail"></a> <a href="">
                <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                     alt="product thumbnail"></a> <a href="">
                <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                     alt="product thumbnail"></a> <a href="">
                <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                     alt="product thumbnail"></a> <a href="">
                <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                     alt="product thumbnail"></a> <a href="">
                <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                     alt="product thumbnail"></a> <a href="">
                <img width="60" class="oxy-margin-bottom-10 oxy-margin-right-10" src="./images/mac2.jpg"
                     alt="product thumbnail"></a></div>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
            <h1 class="mdl-mega-footer--heading">Our Store</h1>
            <div class="mdl-mega-footer__widget">
                <p>Contact us any time, we would love to hear from you.</p>
                <p>Birmingham Bulring<br>MSU 8-9, Levels 7&amp;9<br>Birmingham B5 4BG<br>(44) 121 616 2169<br>
                </p>
                <p><a href="#">company.com</a><br>info@company.com</p>
                <p><a href="#" class="mdl-button mdl-js-button mdl-button--icon"
                      data-upgraded=",MaterialButton"><i class="fa fa-facebook"></i></a> <a href="#"
                                                                                            class="mdl-button mdl-js-button mdl-button--icon"
                                                                                            data-upgraded=",MaterialButton"><i
                        class="fa fa-twitter"></i></a> <a href="#"
                                                          class="mdl-button mdl-js-button mdl-button--icon"
                                                          data-upgraded=",MaterialButton"><i
                        class="fa fa-flickr"></i></a> <a href="#"
                                                         class="mdl-button mdl-js-button mdl-button--icon"
                                                         data-upgraded=",MaterialButton"><i
                        class="fa fa-linkedin"></i></a></p>
            </div>
        </div>
    </div>
<!--    <div class="mdl-mega-footer&#45;&#45;bottom-section">
        <div class="mdl-logo">Company Name</div>
        <ul class="mdl-mega-footer&#45;&#45;link-list">
            <li><a href="">Conditions</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Terms</a></li>
        </ul>
    </div>-->
</footer>