<ion-view  class="background-color";>
<ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
  <div class="bar bar-header background-color">
    <h1 class="title loginHeader">Create Account</h1>
  </div>

     <ion-content>

  <div class="signUp_heading">
      <h3>Account Registration!</h3>
      <p>Please Register</p>
    </div>

     <form name="signUpForm" style="margin-left:12px;margin-right:12px;">

       <label class="item item-input padding">
           <input type="text" ng-model="signup.user.firstName" required placeholder="First name">
         </label>
       <label class="item item-input padding">
           <input type="text" ng-model="signup.user.lastName" required placeholder="Last name">
         </label>
       <label class="item item-input padding">
           <input type="email" ng-model="signup.user.email" placeholder="abc@gmail.com" required>
         </label>
       <label class="item item-input padding">
           <input type="password" ng-model="signup.user.password" minlength="6" required placeholder="Password">
         </label>
         <br/>
          <ion-radio  ng-model="signup.user.gender" required ng-value="'male'">Male </ion-radio>
          <br/>
          <ion-radio ng-model="signup.user.gender" required ng-value="'female'">Female</ion-radio>
          <br/><br/><br/><br/>
     </form>
     </ion-content>


<div class="bar bar-footer bar-balanced">
  <div style="width:100%; text-align:center;">
   <button class="button button-balanced" style="width:100%; font-size: 23px;"
           ng-disabled="!signup.user.firstName || !signup.user.lastName || !signup.user.email || !signup.user.password || !signup.user.gender" ng-click="signup.createProfile(signup.user)">
           Submit
       </button>
 </div>
 </div>
</ion-view>
