

<ion-view>
    <ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
  <div class="bar bar-header background-color">
    <h1 class="title loginHeader">Qualification</h1>
  </div>
  <ion-content style="background-color:#f8f8f6;">
    <div class="padding" style="text-align:center;margin-top: 86px;">
    <h4 style="font-weight: bold;">Please Select Your Qualification and Specialist Subject</h4>
    <p style="font-size: smaller;">By selecting your qualification and specialist subjects makes easy to find you from your client</p>
    </div>  
  <!--<ion-content>-->

    <form name="qualificationForm">

     <div class="padding">
      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            Select Qualification
          </div>
          <select ng-model="qualification.selectedDegree" required>
            <option ng-repeat="degree in  qualification.degree">{{degree}}</option>
          </select>
        </label>
      </div>


      <!--<label class="item item-input item-floating-label">
        <span class="input-label">Subject</span>
        <input type="text" ng-model="qualification.subjects" placeholder="Subject" ng-disabled="qualification.specilizedSubjects.length == 3">
      </label>-->
           <!--<div class="padding">-->
        
      <label class="item item-input padding">
          <input type="text" ng-model="qualification.subjects" required placeholder="Type Your Specilist Subjects"  ng-disabled="qualification.specilizedSubjects.length == 3">
         </label>
         
         <!--</div>-->
      <ul class="list zIndex999" ng-if="qualification.subjects">
        <li class="item" ng-repeat="item in qualification.autoComplete | filter:qualification.subjects"
            value="{{item}}" ng-click="qualification.addSubjects(item)">
          {{item}}

        </li>
      </ul>
     
      <!--<button ng-disabled="qualification.specilizedSubjects.length >= 3" ng-click="qualification.addSubjects(qualification.subjects)">Add Subjects</button>-->
     <br/>
      <p style="margin-left: 4px;"><b>Added Subjects</b></p>
      <div class="list">

        <a class="item" ng-repeat="specility in qualification.specilizedSubjects track by $index">
          <!--<img src="../../img/books.jpg">-->
                <span class="float-right" ng-click="qualification.removeSubject($index)">
                  X
                </span>
          <p>{{specility}}</p>
        </a>
      </div>
   </div>
<!--
        <ul ng-repeat="specility in qualification.specilizedSubjects track by $index">{{specility}}<button ng-click="qualification.removeSubject($index)" class="ion-android-cancel"></button></ul>
-->

      <!--<button class="button button-block button-positive" ng-click="qualification.next()"
              ng-disabled="qualificationForm.$invalid || qualification.specilizedSubjects.length == 0">Next</button>-->




      <!--  <label class="item item-input item-floating-label">
          <span class="input-label">Subject</span>
          <input type="text" ng-model="qualification.subjects" placeholder="Subject" ng-disabled="qualification.specilizedSubjects.length >= 3">
        </label>

        <button ng-disabled="qualification.specilizedSubjects.length >= 3" ng-click="qualification.addSubjects(qualification.subjects)">Add Subjects</button>


        <li>
          <ul ng-repeat="specility in qualification.specilizedSubjects track by $index">{{specility}}<button ng-click="qualification.removeSubject($index)" class="ion-android-cancel"></button></ul>
        </li>


        <button ng-click="qualification.next()" ng-disabled="qualificationForm.$invalid || qualification.specilizedSubjects.length == 0">Next</button>
  -->
    </form>


  </ion-content>
  
    <div class="bar bar-footer registerFotterBar">
  <div style="width:100%; text-align:center;">
   <button class="button button-balanced" style="width:100%; font-size: 23px;" ng-disabled="!qualification.selectedDegree || qualification.specilizedSubjects.length == 0" ng-click="qualification.next()"">
           Next
       </button>
 </div>
 </div>
  
</ion-view>
