
<form>
    <div style="width: 80%; margin-left:100px;margin-right: 100px" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label align-center">
        <input class="mdl-textfield__input" ng-model="semi.search" style="width:100%;outline: none" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Search here..</label>
    </div>
</form>

<ul class="demo-list-icon mdl-list">
    <li class="mdl-list__item" ng-repeat="item in semi.semiArray | filter : semi.search track by $index">

    <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">person</i>
              <a ui-sref="viewsemi({index:$index})">
        {{item.name}}
              </a>
    </span>

    </li>
</ul>