


  <ion-modal-view>
    <ion-header-bar>
      <h1 class = "title">Modal Title</h1>
    </ion-header-bar>

    <ion-content>

      {{profile.modalData}}

      <form name="editprofile">

        <label class="item item-input item-select">
          <div class="input-label">
            Country
          </div>
          <select ng-model="profile.modalData.country" ng-change="profile.setCity()" required>
            <option ng-repeat="(key,value) in profile.countries" value="{{key}}">{{key}}</option>
          </select>
        </label>



        <label class="item item-input item-select">
          <div class="input-label">
            City
          </div>
          <select ng-model="profile.modalData.city" required>
            <option ng-repeat="cities in profile.countries[profile.modalData.country].cities">{{cities}}</option>
          </select>
        </label>

        <select>
          <option disabled>{{profile.modalData.countryCode}}</option>
        </select>
        <input type="number" ng-model="profile.modalData.contactNo" required> <br>

        <span ng-if="profile.modalData.userType == 'teacher'">

          <label class="item item-input item-select">
            <div class="input-label">
              Select Qualification
            </div>
            <select ng-model="profile.modalData.degree" required>
              <option ng-repeat="degree in  profile.degree">{{degree}}</option>
            </select>
          </label>



          <label class="item item-input item-floating-label">
            <span class="input-label">Subject</span>
            <input type="text" ng-model="profile.subjects" placeholder="Subject" ng-disabled="profile.modalData.specilizedSubjects.length == 3">
          </label>
      <ul class="list positionAbsolute zIndex999" ng-if="profile.subjects">
        <li class="item" ng-repeat="item in profile.subjectsList | filter:profile.subjects"
            value="{{item}}" ng-click="profile.addSubjects(item)">
          {{item}}

        </li>
      </ul>

          <div class="list">

            <a class="item item-avatar" ng-repeat="specility in profile.modalData.specilizedSubjects track by $index">
              <img src="../../img/books.jpg">
                <span class="float-right largerFont rightMargin40 top10" ng-click="profile.removeSubject($index)">
                  X
                </span>
              <p>{{specility}}</p>
            </a>
          </div>

          <label class="item item-input item-floating-label">
            <span class="input-label">Overview</span>
            <input type="text" ng-model="profile.modalData.overview" placeholder="Overview">
          </label>


        </span>

        <button ng-click="profile.saveChanges()">Save Changes</button>



      </form>

      <button class = "button icon icon-left ion-ios-close-outline"ng-click ="profile.closeModal2()">Close Modal</button>
      <button class = "button icon icon-left ion-ios-close-outline"ng-click ="profile.serviceData()">Get service Data</button>
    </ion-content>
  </ion-modal-view>

