<ion-view class="background-color" view-title="Notifications">
  
   <ion-content>


    <div class="list">
      <!--if student login-->
      <a class="item item-avatar">
      <img src="../img/mani.jpg">
      <h2>Majid Khan</h2>
      <p>Majid Khan sent proposal on your post</p>
    </a>
    <a class="item item-avatar">

      <img src="../img/atta.jpg">
      <h2>Atta Ullah</h2>
      <p>Attaullah accepted your job.</p>
    </a>
    
    <!--if teacher login-->
    <a class="item item-avatar">

      <img src="../img/atta.jpg">
      <h2>Atta Ullah</h2>
      <p>Attaullah Invited you for little chat.</p>
    </a>
        <!--<a class="item item-avatar" href="#" style="border-bottom: solid 2px">

      <img src="../img/atta.jpg">
      <h2>Atta Ullah</h2>
      <p>I am MEAN stack developer.</p>
    </a>
         <a class="item item-avatar" href="#" style="border-bottom: solid 2px">
      <img src="../img/mani.jpg">
      <h2>Majid Khan</h2>
      <p>I am MEAN stack developer working on mobile application.</p>
    </a>  <a class="item item-avatar" href="#" style="border-bottom: solid 2px">
      <img src="../img/imran.jpg">
      <h2>Aamir</h2>
      <p>I am MEAN stack developer.</p>
    </a>
          <a class="item item-avatar" href="#" style="border-bottom: solid 2px">
      <img src="../img/imran.jpg">
      <h2>Aamir</h2>
      <p>I am MEAN stack developer working on mobile application.</p>
    </a>   <a class="item item-avatar" href="#" style="border-bottom: solid 2px">
      <img src="../img/atta.jpg">
      <h2>Atta Ullah</h2>
      <p>I am MEAN stack developer.</p>
    </a>  <a class="item item-avatar" href="#" style="border-bottom: solid 2px">
      <img src="../img/mani.jpg">
      <h2>Majid Khan</h2>
      <p>I am MEAN stack developer working on mobile application.</p>
    </a>
    <a class="item item-avatar" href="#" style="border-bottom: solid 2px">
      <img src="../img/atta.jpg">
      <h2>Atta Ullah</h2>
      <p>I am MEAN stack developer.</p>
    </a>       <a class="item item-avatar" href="#" style="border-bottom: solid 2px">
      <img src="../img/mani.jpg">
      <h2>Majid Khan</h2>
      <p>I am MEAN stack developer working on mobile application.</p>
    </a>   <a class="item item-avatar" href="#" style="border-bottom: solid 2px">
      <img src="../img/atta.jpg">
      <h2>Atta Ullah</h2>
      <p>I am MEAN stack developer.</p>
    </a>  <a class="item item-avatar" href="#" style="border-bottom: solid 2px">
      <img src="../img/mani.jpg">
      <h2>Majid Khan</h2>
      <p>I am MEAN stack developer working on mobile application.</p>
    </a>
    <a class="item item-avatar" href="#" style="border-bottom: solid 2px">
      <img src="../img/atta.jpg">
      <h2>Atta Ullah</h2>
      <p>I am MEAN stack developer.</p>
    </a>-->
</div>

        </ion-content>
</ion-view>
