<div class="align-center">
    <h4>Part details</h4>
    <hr style="width: 40%"/>
</div>

<table style="padding: 50px;margin:0 auto; margin-bottom: 150px;" class="align-center mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
    <tr>
        <th>Part Image</th>
        <th>Job Part no.</th>
        <th>Mfr. Part no.</th>
        <th class="mdl-data-table__cell--non-numeric">Mfr</th>
        <th class="mdl-data-table__cell--non-numeric">Description</th>
        <th>Availability</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width:60px;height:60px" class="mdl-data-table__cell--non-numeric"><img style="width:60px;height:60px" src="./images/repeat/{{viewconnector.connectorObj.img}}.jpg" alt=""></td>
        <td>{{viewconnector.connectorObj.part}}</td>
        <td>{{viewconnector.connectorObj.part2}}</td>
        <td>{{viewconnector.connectorObj.mfc}}</td>
        <td>{{viewconnector.connectorObj.desc}}</td>
        <td>{{viewconnector.connectorObj.avail}}</td>
        <td>${{viewconnector.connectorObj.price}}</td>
    </tr>
    </tbody>
</table>