

<ion-view view-title="My Profile">
  <ion-content style="margin-top: -40px; background-color:#f8f8f6;">

    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-location"></i>
        Location : {{profile.userProfile.city}} , {{profile.userProfile.country}}
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-person"></i>
        Gender : {{profile.userProfile.gender}}
        <span class="item-note">
        </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-telephone"></i>
        Contact : {{profile.userProfile.contactNo}}
        <i class="icon ion-ios-telephone-outline"></i>
      </a>


      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        Total Student :
        <span class="badge badge-assertive">{{profile.userProfile.totalStudents}}</span>
      </a>

      <ion-toggle ng-model="profile.userProfile.available" ng-change="profile.statusChange(profile.userProfile.available)">
        Available : {{profile.userProfile.available}}
      </ion-toggle>

    </div>


    <button class = "button" ng-click = "profile.open1(profile.userProfile)">Open Model</button>

  </ion-content>
</ion-view>

