<ion-view  class="background-color";>

  <ion-content>

<div class="card">
  <div class="item item-divider">
    Salient Features:
  </div>
  <div class="item item-text-wrap">
    Along with the changing world, the need for an application to simplify finding a tutor became
    necessary. This app will help you finding tutors not only for the Academics but for anything
    you want to learn. The teacher's profile will help you knowing the teacher's per hour rate as
    well as the specialized subjects.
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Find Tutors:
  </div>
  <div class="item item-text-wrap">
    Tutors express their qualities, teaching charges and other related information via their profile.
    You can find them by name via search bar at the top-most on your HOME screen. Also a link named 
    "FIND TUTOR" is there in side menu which moves you to the search page where you can find teachers
     by name or by subject.
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Handle Proposals
  </div>
  <div class="item item-text-wrap">
    When a student writes a post for tuition, a teacher can send a proposal against the post. The student
    receives the proposals from teacher and decides which one is the most competitive teacher. Just click
    on the sender's name and you are directed to his/her profile.rtr
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Save Posts:
  </div>
  <div class="item item-text-wrap">
    For teachers, there is an option named "SAVE POSTS". If they find any intersting post for sending proposal
    later. They can unsave it anytime.
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Contact our TEAM:
  </div>
  <div class="item item-text-wrap">
    visit our website &nbsp;
    <a href="www.teamclouders.com"> TEAM CLOUDERS </a>
  </div>
</div>

  </ion-content>
</ion-view>
