<ion-view view-title="My Profile">
  <ion-content style="margin-top: -40px; background-color:#f8f8f6;">
    <div class="review-card-background">
      <div class="list card">

        <div class="item item-avatar">
          <img src="./img/imran.jpg">

          <h2>Marty McFly</h2>

          <p class="smallFont">November 05, 1955</p>
           <div style="position: absolute;top: 15px;right: 17px;color:#ffc900">
           <span class="icon ion-ios-star"></span>
           <span class="icon ion-ios-star"></span>
           <span class="icon ion-ios-star"></span>
           <span class="icon ion-ios-star"></span>
</div>
        </div>

        <div class="item item-body" >
          <p class="margin_minus">
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>

        </div>
      </div>
      
      
      <div class="list card">

        <div class="item item-avatar">
          <img src="./img/imran.jpg">

          <h2>Marty McFly</h2>

          <p class="smallFont">November 05, 1955</p>
           <div style="position: absolute;top: 15px;right: 17px;color:#ffc900">
           <span class="icon ion-ios-star"></span>
           <span class="icon ion-ios-star"></span>
           <span class="icon ion-ios-star"></span>
           <span class="icon ion-ios-star"></span>
</div>
        </div>

        <div class="item item-body" >
          <p class="margin_minus">
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>

        </div>
      </div>
      <div class="list card">

        <div class="item item-avatar">
          <img src="./img/imran.jpg">

          <h2>Marty McFly</h2>

          <p class="smallFont">November 05, 1955</p>
           <div style="position: absolute;top: 15px;right: 17px;color:#ffc900">
           <span class="icon ion-ios-star"></span>
           <span class="icon ion-ios-star"></span>
           <span class="icon ion-ios-star-half"></span>
           <span class="icon ion-ios-star-outline"></span>
</div>
        </div>

        <div class="item item-body" >
          <p class="margin_minus">
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>

        </div>
      </div>
<div class="list card">

        <div class="item item-avatar">
          <img src="./img/imran.jpg">

          <h2>Marty McFly</h2>

          <p class="smallFont">November 05, 1955</p>
           <div style="position: absolute;top: 15px;right: 17px;color:#ffc900">
           <span class="icon ion-ios-star"></span>
           <span class="icon ion-ios-star"></span>
           <span class="icon ion-ios-star"></span>
           <span class="icon ion-ios-star-half"></span>
</div>
        </div>

        <div class="item item-body" >
          <p class="margin_minus">
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>

        </div>
      </div>
  </ion-content>
</ion-view>
